.search-area {
    display: grid;
    align-items: center;
    grid-template-columns: 200px 20px;
    gap: 5px;
    border: 1px solid #000000;
    padding: 10px;
}

.search {
    border: none;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #000000;
}

.search:focus {
    outline: none;
}

.search-icon {
    cursor: pointer;
}
